@import "./color";
@import "./font";

@media screen and (min-width: 426px) {
  .header {
    height: 100vh;
    width: 100%;
    background-image: url("../images/background-header/background-header-garansi-website.png");
    background-size: cover;
    background-repeat: no-repeat;
    .container {
      display: grid;
      height: 100%;

      .header-center {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-content {
          width: 50%;
          margin-right: 5rem;
          color: white;
          align-self: stretch;
          display: grid;

          &-title {
            font-size: 36px;
            font-weight: 700;
          }

          &-button {
            display: inline-block;
          }
        }

        &-image {
          width: 50%;
        }
      }
    }
  }

  .background2 {
    position: relative;
    &-image {
      height: 100vh;
      width: 100%;
      background-image: url("../images/dekstop/background-2.png");
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: -135px;
      z-index: -1;
    }
  }

  .flash {
    padding: 7rem 0;
    &-text {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      &-title {
        color: $color-primary;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
      }
      &-timer {
        text-align: center;

        &-text {
          color: $color-primary;
          font-weight: 700;
        }

        &-countdown {
          margin-top: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;

          &-time {
            background-image: linear-gradient(
              to right,
              $color-secondary,
              $color-tertiary,
              $color-quartenary
            );
            color: white;
            padding: 0.5rem 0;
            width: 50px;
            text-align: center;
            font-size: 24px;
            border-radius: 4px;
            border-color: $color-secondary;
          }

          &-divider {
            margin: 0 1rem;
            color: $color-secondary;
            font-size: 18px;
            font-weight: 700;
          }
        }
        .progress {
          margin: 1rem 0 0 0;
          height: 10px;

          .progress-bar {
            background-color: transparent;
            background-image: linear-gradient(
              to right,
              $color-secondary,
              $color-tertiary,
              $color-quartenary
            );
          }
        }
      }
      &-more {
        a {
          color: $color-primary !important;
        }
      }
    }

    &-list {
      &-item {
        height: 350px;
        border-radius: 1rem;
        position: relative;
        background: white;
        box-shadow: 0px 0px 40px -25px rgba(136, 136, 136, 0.5);
        margin-top: 5rem;
        &-discount {
          position: absolute;
          top: 0;
          right: 0;
          background-image: linear-gradient(
            to top right,
            $color-secondary,
            $color-quartenary
          );
          width: 50px;
          height: 50px;
          border-radius: 0 1rem 0 100%;
          span {
            color: white;
            font-weight: bolder;
            position: absolute;
            top: 10px;
            right: 10px;
          }
        }

        &-image {
          width: 100%;
          padding-top: 5rem;
          padding-bottom: 1rem;
        }

        &-detail {
          padding: 1rem 0.5rem;
          &-title {
            margin-top: 1rem;
            color: $color-primary;
            font-weight: 700;
            text-align: center;
          }

          &-product {
            margin-top: 1rem;
            color: rgba($color: $color-primary, $alpha: 0.8);
            font-weight: 700;
            text-align: center;
            margin-top: 0.25rem;
            font-size: 12px;
          }

          &-content {
            margin-top: 1rem;
            display: flex;
            align-items: flex-start;
            align-content: space-between;
            color: rgba($color: $color-primary, $alpha: 0.8);
            font-size: 10px;
            &-price {
              width: 100%;
              text-align: left;
            }

            &-review {
              width: 100%;
              text-align: right;
            }
          }
        }
      }
    }
    .owl-carousel {
      .owl-nav {
        margin-top: 10px;
        position: absolute;
        top: 200px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          display: block !important;
          position: absolute;
          margin: 0 !important;
          // font-size: 36px !important;
          background-image: linear-gradient(
            to right,
            $color-secondary,
            $color-tertiary,
            $color-quartenary
          ) !important;
          color: white !important;
          font-size: 20px !important;
          line-height: 15px !important;
          outline: none !important;
          box-shadow: none !important;
          border-radius: 50% !important;
          &.owl-prev {
            padding: 5px 10px !important;
            left: -15px;
          }
          &.owl-next {
            padding: 5px 10px !important;
            right: -15px;
          }
        }
      }
    }
  }

  .pilihan {
    margin: 5rem 0 0 0;
    background-image: url("../images/dekstop/background-3.png");
    background-position: -21rem;
    background-repeat: no-repeat;
    width: 100%;
    &-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-title {
        color: $color-primary;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
      }

      &-more {
        a {
          color: $color-primary !important;
        }
      }
    }

    &-list {
      margin: 3rem 0;
      &-item {
        padding: 1rem;
        &-image {
          width: 100%;
          object-fit: contain;
        }
      }
    }

    .owl-carousel {
      .owl-item {
        box-shadow: 0px 0px 40px -25px rgba(136, 136, 136, 0.5);
        border: 1px solid rgba(136, 136, 136, 0.1);
        transform: scale(0.8, 0.8);
      }
      .owl-item.active.center {
        transform: scale(1, 1);
      }
      .owl-nav {
        margin-top: 10px;
        position: absolute;
        top: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          display: block !important;
          position: absolute;
          margin: 0 !important;
          background-image: linear-gradient(
            to right,
            $color-secondary,
            $color-tertiary,
            $color-quartenary
          ) !important;
          color: white !important;
          font-size: 20px !important;
          line-height: 15px !important;
          outline: none !important;
          box-shadow: none !important;
          border-radius: 50% !important;
          &.owl-prev {
            padding: 5px 10px !important;
            left: -15px;
          }
          &.owl-next {
            padding: 5px 10px !important;
            right: -15px;
          }
        }
      }
    }
  }

  .bv {
    margin: 5rem 0 0 0;
    .container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .blog {
        width: 100%;
        margin-right: 5rem;
        &-text {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &-title {
            color: $color-primary;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
          }

          &-more {
            a {
              color: $color-primary !important;
            }
          }
        }

        &-list {
          &-item {
            margin-top: 3rem;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            width: 100%;
            border-radius: 4px;
            box-shadow: 0px 0px 40px -15px rgba(136, 136, 136, 0.5);
            height: 350px;
            &-content {
              width: 50%;
              align-self: stretch;
              display: grid;
              padding: 1rem;
              &-title {
                color: $color-primary;
                font-weight: 700;
              }
              &-content {
                color: $color-secondary;
              }
              &-post {
                display: flex;
                align-items: center;
                color: $color-secondary;
                &-date {
                  margin-right: 1rem;
                }
              }
            }
            &-image {
              width: 50%;
              object-fit: cover;
            }
          }
        }
      }

      .video {
        width: 100%;
        &-text {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &-title {
            color: $color-primary;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
          }

          &-more {
            a {
              color: $color-primary !important;
            }
          }
        }

        &-content {
          &-list {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-item {
              margin-top: 3rem;
              width: 100%;
              border-radius: 4px;
              box-shadow: 0px 0px 40px -15px rgba(136, 136, 136, 0.5);
              height: 350px;
              &:first-child {
                margin-right: 3rem;
              }

              &-image {
                width: 100%;
                height: 50%;
                object-fit: cover;
              }

              &-content {
                display: grid;
                padding: 1rem;
                &-title {
                  color: $color-primary;
                  font-weight: 700;
                  text-align: center;
                  margin-top: 0.5rem;
                }
                &-content {
                  color: $color-secondary;
                  text-align: center;
                  margin-top: 0.5rem;
                }
                &-more {
                  text-align: center;
                  margin-top: 0.5rem;
                  text-transform: uppercase;
                  a {
                    color: $color-secondary !important;
                    text-decoration: underline !important;
                  }
                }
                &-post {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  color: $color-secondary;
                  margin-top: 0.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .header {
    height: 100vh;
    width: 100%;
    background-image: url("../images/background-header/header-halaman-garansi-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;

    .container {
      display: flex;
      height: 100%;

      .header-center {
        margin: auto;
        display: flex;
        flex-direction: column;

        &-content {
          order: 2;
          color: white;
          margin-top: 4rem;
          font-size: 12px;

          &-title {
            text-align: center;
            font-size: 18px;
            font-weight: 700;
          }

          &-text {
            margin-top: 1rem;
          }

          &-button {
            margin-top: 2rem;
            text-align: center;
          }
        }

        &-image {
          order: 1;
          width: 60%;
          align-self: center;
        }
      }
    }
  }

  .background2 {
    position: relative;
    &-image {
      height: 100vh;
      width: 100%;
      background-image: url("../images/dekstop/background-2.png");
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: -155px;
      z-index: -1;
    }
  }

  .flash {
    padding: 0 0 5rem 0;
    &-text {
      text-align: center;
      &-title {
        color: $color-primary;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
      }
      &-timer {
        margin-top: 1rem;
        text-align: center;

        &-text {
          color: $color-primary;
          font-weight: 700;
        }

        &-countdown {
          margin-top: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;

          &-time {
            background-image: linear-gradient(
              to right,
              $color-secondary,
              $color-tertiary,
              $color-quartenary
            );
            color: white;
            padding: 0.5rem 0;
            width: 35px;
            text-align: center;
            font-size: 18px;
            border-radius: 4px;
            border-color: $color-secondary;
          }

          &-divider {
            margin: 0 1rem;
            color: $color-secondary;
            font-size: 14px;
            font-weight: 700;
          }
        }

        .progress {
          margin: 1rem auto 0;
          height: 10px;
          width: 50%;

          .progress-bar {
            background-color: transparent;
            background-image: linear-gradient(
              to right,
              $color-secondary,
              $color-tertiary,
              $color-quartenary
            );
          }
        }
      }
      &-more {
        margin-top: 1rem;
        a {
          color: $color-primary !important;
        }
      }
    }

    &-list {
      &-item {
        height: 350px;
        border-radius: 1rem;
        position: relative;
        background: white;
        box-shadow: 0px 0px 40px -25px rgba(136, 136, 136, 0.5);
        margin-top: 5rem;
        &-discount {
          position: absolute;
          top: 0;
          right: 0;
          background-image: linear-gradient(
            to top right,
            $color-secondary,
            $color-quartenary
          );
          width: 50px;
          height: 50px;
          border-radius: 0 1rem 0 100%;
          span {
            color: white;
            font-weight: bolder;
            position: absolute;
            top: 10px;
            right: 10px;
          }
        }

        &-image {
          width: 100%;
          padding-top: 5rem;
          padding-bottom: 1rem;
        }

        &-detail {
          padding: 1rem 0.5rem;
          &-title {
            margin-top: 1rem;
            color: $color-primary;
            font-weight: 700;
            text-align: center;
          }

          &-product {
            margin-top: 1rem;
            color: rgba($color: $color-primary, $alpha: 0.8);
            font-weight: 700;
            text-align: center;
            margin-top: 0.25rem;
            font-size: 12px;
          }

          &-content {
            margin-top: 1rem;
            display: flex;
            align-items: flex-start;
            align-content: space-between;
            color: rgba($color: $color-primary, $alpha: 0.8);
            font-size: 10px;
            &-price {
              width: 100%;
              text-align: left;
            }

            &-review {
              width: 100%;
              text-align: right;
            }
          }
        }
      }
    }
  }

  .pilihan {
    margin: 5rem 0 0 0;
    background-image: url("../images/dekstop/background-3.png");
    background-position: -7rem 7rem;
    background-repeat: no-repeat;
    background-size: 50%;
    &-text {
      text-align: center;
      &-title {
        color: $color-primary;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
      }

      &-more {
        a {
          color: $color-primary !important;
        }
      }
    }

    &-list {
      margin: 1rem 0;
      &-item {
        padding: 1rem;
        background: white;
        &-image {
          width: 100%;
          object-fit: contain;
        }
      }
    }

    .owl-carousel {
      .owl-item {
        box-shadow: 0px 0px 40px -25px rgba(136, 136, 136, 0.5);
        border: 1px solid rgba(136, 136, 136, 0.1);
        transform: scale(0.7, 0.7);
      }
    }
  }

  .bv {
    margin: 5rem 0 0 0;
    .container {
      .blog {
        width: 100%;
        &-text {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &-title {
            color: $color-primary;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
          }

          &-more {
            a {
              color: $color-primary !important;
            }
          }
        }

        &-list {
          &-item {
            margin-top: 3rem;
            margin-bottom: 3rem;
            align-items: stretch;
            justify-content: space-between;
            width: 100%;
            border-radius: 4px;
            box-shadow: 0px 0px 40px -15px rgba(136, 136, 136, 0.5);
            display: none;
            &:first-child {
              display: flex;
            }
            &-content {
              width: 60%;
              align-self: stretch;
              display: grid;
              padding: 1rem;
              margin-right: 1rem;
              font-size: 12px;
              &-title {
                color: $color-primary;
                font-weight: 700;
                font-size: 14px;
              }
              &-content {
                color: $color-secondary;
                padding: 1rem 0;
                text-align: justify;
              }
              &-button {
                margin: 1rem 0;
              }
              &-post {
                display: flex;
                align-items: center;
                color: $color-secondary;
                &-date {
                  margin-right: 1rem;
                }
              }
            }
            &-image {
              width: 40%;
              object-fit: cover;
            }
          }
        }
      }

      .video {
        width: 100%;
        &-text {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &-title {
            color: $color-primary;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
          }

          &-more {
            a {
              color: $color-primary !important;
            }
          }
        }

        &-content {
          &-list {
            display: none;
            align-items: center;
            justify-content: space-between;

            &:first-child {
              display: block;
            }

            &-item {
              margin-top: 3rem;
              width: 100%;
              border-radius: 4px;
              box-shadow: 0px 0px 40px -15px rgba(136, 136, 136, 0.5);
              display: none;
              &:first-child {
                display: block;
              }

              &-image {
                width: 100%;
                height: 150px;
                object-fit: cover;
              }

              &-content {
                display: grid;
                padding: 1rem;
                font-size: 12px;
                &-title {
                  color: $color-primary;
                  font-weight: 700;
                  text-align: center;
                  margin-top: 0.5rem;
                  font-size: 14px;
                }
                &-content {
                  color: $color-secondary;
                  text-align: center;
                  margin-top: 0.5rem;
                }
                &-more {
                  text-align: center;
                  margin-top: 0.5rem;
                  text-transform: uppercase;
                  a {
                    color: $color-secondary !important;
                    text-decoration: underline !important;
                  }
                }
                &-post {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  color: $color-secondary;
                  margin-top: 0.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
