@import "./color";
@import "./font";

@media screen and (min-width: 426px) {
  .header-produk {
    height: 100vh;
    width: 100%;
    background-image: url("../images/dekstop/background-9.png"),
      url("../images/dekstop/background-3.png");
    background-position: 105% 0, 60% 70%;
    background-size: 35%, 25%;
    background-repeat: no-repeat, no-repeat;
    .container {
      display: grid;
      height: 100%;

      .header-produk-center {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-content {
          width: 50%;
          margin-right: 5rem;

          &-title {
            font-size: 36px;
            font-weight: 700;
            color: $color-primary;
          }

          &-text {
            color: $color-secondary;
            margin-top: 1rem;
          }

          &-info {
            display: flex;
            align-items: flex-start;
            margin-top: 1rem;
            &-qty {
              display: flex;
              align-items: stretch;
              margin-right: 1rem;
              &-input {
                border-radius: 4px;
                border: 1px solid rgba(136, 136, 136, 0.5);
                margin-right: 0.5rem;
                padding: 0.6rem 1rem;
                color: $color-primary;
              }
              &-button {
                &-add {
                  font-size: 10px;
                  border-radius: 4px;
                  border: 1px solid $color-primary;
                  background: $color-primary;
                  padding: 0rem 0.5rem;
                  color: white;
                }
                &-min {
                  font-size: 10px;
                  margin-top: 0.5rem;
                  border-radius: 4px;
                  border: 1px solid rgba(136, 136, 136, 0.5);
                  padding: 0rem 0.5rem;
                  color: $color-primary;
                }
              }
            }
            &-price {
              margin-right: 1rem;
              &-real {
                text-decoration: line-through;
                color: $color-secondary;
              }
              &-disc {
                color: $color-primary;
              }
            }
            &-wa {
              a {
                color: $color-primary !important;
                text-decoration: none !important;
              }
            }
          }

          &-market {
            display: flex;
            align-items: center;
            margin-top: 1rem;
            img {
              margin-right: 4rem;
              &:last-child {
                margin-right: 0;
              }
            }
          }

          &-share {
            margin-top: 1rem;
            &-list {
              margin-top: 1rem;
            }
          }
        }

        &-image {
          width: 50%;
        }
      }
    }
  }

  .menu-produk {
    display: flex;
    align-items: center;
    justify-content: center;
    &-item {
      background-color: #f4f0f7;
      color: $color-primary !important;
      border: none;
      border-radius: 0.25rem;
      padding: 0.75rem 2rem;
      margin-right: 1rem;
    }
  }

  .detail-ringkasan {
    height: 100vh;
    margin-top: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f9f5ff;
    background-image: url("../images/dekstop/background-ringkasan.png");
    background-position: 90% 50%;
    background-repeat: no-repeat;
    background-size: auto 60%;
    display: grid;
    .container {
      margin: auto;
      .detail-ringkasan {
        &-title {
          font-size: 36px;
          color: $color-primary;
          font-weight: 700;
        }
        &-text {
          width: 60%;
          color: $color-primary;
          text-align: justify;
          margin-top: 3rem;
          line-height: 2rem;
          font-weight: bold;
        }
      }
    }
  }

  .detail-spesifikasi {
    height: 100vh;
    display: grid;
    .container {
      margin: auto;
      .detail-spesifikasi-content {
        padding: 3rem;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 40px -15px rgba(136, 136, 136, 0.5);
        &-title {
          font-size: 36px;
          color: $color-primary;
          font-weight: 700;
        }
        &-table {
          margin-top: 3rem;
          .table > tbody > tr:nth-of-type(odd) > td {
            background-color: #f2e9ff;
            border-radius: 10px;
          }
          .table > tbody > tr > td {
            border: 0;
          }
          .table > tbody > tr > td:first-child {
            width: 25%;
          }
          .table > tbody > tr > td.spacing {
            background-color: transparent !important;
            width: 5%;
          }
        }
      }
    }
  }

  .detail-video {
    height: 100vh;
    display: grid;
    .container {
      margin: auto;
      .detail-video-content {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        &-video {
          width: 100%;
          margin-right: 10rem;
          img {
            width: 100%;
            height: 400px;
            object-fit: cover;
          }
        }
        &-text {
          width: 100%;
          display: grid;
          grid-template-rows: 10% 80% 10%;
          align-items: center;
          &-title {
            font-size: 36px;
            color: $color-primary;
            font-weight: 700;
          }
          &-detail {
            color: $color-secondary;
            text-align: justify;
          }
          &-link {
            text-align: right;
            a {
              color: rgba($color: $color-primary, $alpha: 0.8);
              &:hover,
              &:focus,
              &:active {
                color: $color-primary;
              }
            }
          }
        }
      }
    }
  }

  .detail-diskusi {
    margin: 3rem 0;
    .container {
      background-color: #f9f5ff;
      background-image: url("../images/dekstop/background-discuss.png");
      background-position: 95% 95%;
      background-repeat: no-repeat;
      background-size: 333px 495px;
      padding: 3rem;
      .detail-diskusi-container {
        display: flex;
        align-items: stretch;
        &-box {
          width: 70%;
          margin-right: 5rem;
          &-item {
            height: 600px;
            overflow-y: scroll;
            overflow-x: hidden;
            padding: 1rem;
            border-radius: 2rem;
            box-shadow: 0px 0px 40px -15px rgba(136, 136, 136, 0.5);
            margin-top: 3rem;

            &:first-child {
              margin-top: 0;
            }

            &-buyer {
              margin-top: 1rem;
              &-detail {
                display: flex;
                border-bottom: 1px solid #f2e9ff;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                img {
                  height: 50px;
                  width: 50px;
                  margin-right: 1rem;
                }
                &-text {
                  display: grid;
                  &-nama {
                    color: $color-primary;
                    font-weight: bold;
                  }
                  &-status {
                    align-self: flex-end;
                    text-align: left;
                    font-size: 12px;
                    color: #d7c8d8;
                    span {
                      border: 1px solid #d7c8d8;
                      padding: 0.15rem 1rem;
                    }
                  }
                }
              }
              &-content {
                background-color: #f2e9ff;
                color: #c086ae;
                padding: 1rem;
                border-radius: 0 2rem 2rem 2rem;
                margin-bottom: 1rem;
              }
              &-chat {
                padding: 0 1rem;
                color: #d7c8d8;
              }
            }

            &-seller {
              margin-top: 1rem;
              text-align: right;
              &-detail {
                display: flex;
                justify-content: flex-end;
                border-bottom: 1px solid #f2e9ff;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                img {
                  height: 50px;
                  width: 50px;
                  margin-left: 1rem;
                }
                &-text {
                  display: grid;
                  &-nama {
                    color: $color-primary;
                    font-weight: bold;
                  }
                  &-status {
                    align-self: flex-end;
                    text-align: left;
                    font-size: 12px;
                    color: #d7c8d8;
                    span {
                      border: 1px solid #d7c8d8;
                      padding: 0.15rem 1rem;
                    }
                  }
                }
              }
              &-content {
                background-color: #f2e9ff;
                color: #c086ae;
                padding: 1rem;
                border-radius: 0 2rem 2rem 2rem;
                margin-bottom: 1rem;
              }
              &-chat {
                padding: 0 1rem;
                color: #d7c8d8;
              }
            }

            &-ask {
              margin-top: 1rem;
              &-detail {
                display: flex;
                border-bottom: 1px solid #f2e9ff;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                img {
                  height: 50px;
                  width: 50px;
                  margin-right: 1rem;
                }
                &-text {
                  display: grid;
                  &-nama {
                    color: $color-primary;
                    font-weight: bold;
                  }
                  &-status {
                    align-self: flex-end;
                    text-align: left;
                    font-size: 12px;
                    color: #d7c8d8;
                    span {
                      border: 1px solid #d7c8d8;
                      padding: 0.15rem 1rem;
                    }
                  }
                }
              }
              &-content {
                &-form {
                  color: #c086ae;
                  &:active,
                  &:hover,
                  &:focus {
                    border: 1px solid #d6749c;
                    box-shadow: none !important;
                    outline: 0;
                  }
                  button {
                    margin-top: 1rem;
                    padding: 1rem 2rem;
                  }
                }
              }
            }
          }
        }
        &-chat {
          width: 30%;
          &-title {
            font-size: 28px;
            color: $color-primary;
            font-weight: 700;
          }
          &-detail {
            color: $color-secondary;
            margin-top: 1rem;
          }
          &-form {
            color: $color-secondary;
            margin-top: 1rem;
            input {
              margin-top: 1rem;
              height: 40px;
            }
            textarea {
              margin-top: 1rem;
              line-height: 1.8;
            }
            button {
              margin-top: 1rem;
              padding: 1rem 2rem;
            }
          }
        }
      }
    }
  }

  .detail-download {
    height: 100vh;
    display: grid;
    .container {
      margin: auto;
      .detail-download-content {
        padding: 2rem 0 0 0;
        border-radius: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 40px -15px rgba(136, 136, 136, 0.5);
        &-title {
          font-size: 28px;
          font-weight: 700;
          color: $color-primary;
          padding: 0 2rem;
        }
        &-table {
          margin-top: 1rem;
          table {
            border-radius: 0 0 1rem 1rem;
            thead {
              color: $color-primary;
              font-weight: bolder;
              font-size: 18px;
              tr {
                th {
                  text-align: center;
                }
              }
            }
            tbody {
              font-size: 16px;
              tr {
                color: black;
                align-items: center;
                td {
                  padding-top: 1.5rem;
                  padding-bottom: 1.5rem;
                  vertical-align: middle;
                  input {
                    width: 20px;
                    height: 20px;
                    border-radius: 0.5rem;
                  }
                }
                &:last-child {
                  td {
                    &:first-child {
                      border-radius: 0 0 0 1rem;
                    }
                    &:last-child {
                      border-radius: 0 0 1rem 0;
                    }
                  }
                }
                .download {
                  font-size: 20px;
                }
                &:hover {
                  color: white;
                  background-image: linear-gradient(
                    to right,
                    $color-secondary,
                    $color-tertiary,
                    $color-quartenary
                  );
                }
              }
              tr.active {
                color: white;
                background-image: linear-gradient(
                  to right,
                  $color-secondary,
                  $color-tertiary,
                  $color-quartenary
                );
              }
            }
          }
        }
      }
    }
  }

  .detail-related {
    height: 100vh;
    display: grid;
    .container {
      margin: auto;
      .detail-related {
        &-title {
          font-size: 36px;
          font-weight: 700;
          color: $color-primary;
        }
        &-content {
          margin-top: 5rem;
          &-list {
            &-item {
              height: 310px;
              border-radius: 1rem;
              position: relative;
              background: white;
              box-shadow: 0px 0px 40px -25px rgba(136, 136, 136, 0.5);
              border: 1px solid rgba(0, 0, 0, 0.1);

              &-image {
                width: 100%;
                padding-top: 1rem;
                padding-bottom: 1rem;
              }

              &-detail {
                padding: 1rem 0.5rem;
                &-title {
                  margin-top: 1rem;
                  color: $color-primary;
                  font-weight: 700;
                  text-align: center;
                }

                &-product {
                  margin-top: 1rem;
                  color: rgba($color: $color-primary, $alpha: 0.8);
                  font-weight: 700;
                  text-align: center;
                  margin-top: 0.25rem;
                  font-size: 12px;
                }

                &-content {
                  margin-top: 1rem;
                  display: flex;
                  align-items: flex-start;
                  align-content: space-between;
                  color: rgba($color: $color-primary, $alpha: 0.8);
                  font-size: 10px;
                  &-price {
                    width: 100%;
                    text-align: left;
                  }

                  &-review {
                    width: 100%;
                    text-align: right;
                  }
                }
              }
            }
          }
          .owl-carousel {
            .owl-nav {
              margin-top: 10px;
              position: absolute;
              top: 150px;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              button {
                display: block !important;
                position: absolute;
                margin: 0 !important;
                // font-size: 36px !important;
                background-image: linear-gradient(
                  to right,
                  $color-secondary,
                  $color-tertiary,
                  $color-quartenary
                ) !important;
                color: white !important;
                font-size: 20px !important;
                line-height: 15px !important;
                outline: none !important;
                box-shadow: none !important;
                border-radius: 50% !important;
                &.owl-prev {
                  padding: 5px 10px !important;
                  left: -15px;
                }
                &.owl-next {
                  padding: 5px 10px !important;
                  right: -15px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .header-produk {
    height: 100vh;
    width: 100%;
    background-image: url(../images/dekstop/background-9.png);
    background-position: 0 -15%;
    background-size: contain;
    background-repeat: no-repeat;
    .container {
      display: flex;
      height: 100%;

      .header-produk-center {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        // margin-top: 8rem;

        &-content {
          width: 100%;
          order: 2;
          text-align: center;
          font-size: 12px;
          margin-top: 4rem;

          &-title {
            font-size: 18px;
            font-weight: 700;
            color: $color-primary;
          }

          &-text {
            color: $color-secondary;
            margin-top: 1rem;
          }

          &-info {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin-top: 1rem;
            &-qty {
              display: flex;
              align-items: stretch;
              margin-right: 1rem;
              &-input {
                border-radius: 4px;
                border: 1px solid rgba(136, 136, 136, 0.5);
                margin-right: 0.5rem;
                padding: 0.6rem 1rem;
                color: $color-primary;
              }
              &-button {
                &-add {
                  font-size: 10px;
                  border-radius: 4px;
                  border: 1px solid $color-primary;
                  background: $color-primary;
                  padding: 0rem 0.5rem;
                  color: white;
                }
                &-min {
                  font-size: 10px;
                  margin-top: 0.5rem;
                  border-radius: 4px;
                  border: 1px solid rgba(136, 136, 136, 0.5);
                  padding: 0rem 0.5rem;
                  color: $color-primary;
                }
              }
            }
            &-price {
              margin-right: 1rem;
              &-real {
                text-decoration: line-through;
                color: $color-secondary;
              }
              &-disc {
                color: $color-primary;
              }
            }
            &-wa {
              a {
                color: $color-primary !important;
                text-decoration: none !important;
              }
            }
          }

          &-market {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1rem;
            img {
              margin-right: 4rem;
              &:last-child {
                margin-right: 0;
              }
            }
          }

          &-share {
            margin-top: 1rem;
            &-list {
              margin-top: 1rem;
            }
          }
        }

        &-image {
          order: 1;
          width: 70%;
          align-self: center;
          box-shadow: 0px 0px 40px -25px rgba(136, 136, 136, 0.5);
        }
      }
    }
  }

  .menu-produk {
    padding-top: 5rem;
    padding-bottom: 2rem;
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    &-item {
      background-color: #f4f0f7;
      color: $color-primary !important;
      border: none;
      border-radius: 0.25rem;
      padding: 0.75rem 2rem;
      margin-right: 1rem;
    }
  }

  .detail-ringkasan {
    margin: 3rem 0;
    padding: 3rem 0;
    background-color: #f9f5ff;
    font-size: 12px;
    .container {
      margin: auto;
      .detail-ringkasan {
        &-title {
          font-size: 28px;
          color: $color-primary;
          font-weight: 700;
          text-align: center;
        }
        &-text {
          color: $color-primary;
          text-align: justify;
          margin-top: 3rem;
          line-height: 2rem;
        }
      }
    }
  }

  .detail-spesifikasi {
    margin: 3rem 0;
    .container {
      margin: auto;
      .detail-spesifikasi-content {
        padding: 1rem;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 40px -15px rgba(136, 136, 136, 0.5);
        font-size: 12px;
        &-title {
          font-size: 28px;
          color: $color-primary;
          font-weight: 700;
        }
        &-table {
          margin-top: 2rem;
          .table > tbody > tr:nth-of-type(odd) > td {
            background-color: #f2e9ff;
            border-radius: 10px;
          }
          .table > tbody > tr > td {
            vertical-align: middle;
            border: 0;
            font-size: 12px;
          }
          .table > tbody > tr > td:first-child {
            width: 35%;
          }
          .table > tbody > tr > td:last-child {
            text-align: left;
          }
          .table > tbody > tr > td.spacing {
            background-color: transparent !important;
            width: 1%;
          }
        }
      }
    }
  }

  .detail-video {
    margin: 5rem 0;
    .container {
      .detail-video-content {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        &-video {
          order: 2;
          margin-top: 3rem;
          padding: 0 2rem;
          img {
            width: 100%;
            height: 200px;
            box-shadow: 0px 0px 40px -15px rgba(136, 136, 136, 0.5);
            border-radius: 10px;
            object-fit: cover;
          }
        }
        &-text {
          order: 1;
          text-align: center;
          &-title {
            font-size: 28px;
            color: $color-primary;
            font-weight: 700;
          }
          &-detail {
            margin-top: 1rem;
            color: $color-secondary;
            text-align: justify;
          }
          &-link {
            margin-top: 1rem;
            a {
              color: rgba($color: $color-primary, $alpha: 0.8);
              &:hover,
              &:focus,
              &:active {
                color: $color-primary;
              }
            }
          }
        }
      }
    }
  }

  .detail-diskusi {
    margin: 3rem 0;
    .container {
      background-color: #f9f5ff;
      padding-top: 2rem;
      padding-bottom: 2rem;
      .detail-diskusi-container {
        display: flex;
        flex-direction: column;
        &-box {
          order: 2;
          margin-top: 1rem;
          &-item {
            padding: 1rem;
            border-radius: 2rem;
            box-shadow: 0px 0px 40px -15px rgba(136, 136, 136, 0.5);
            margin-top: 3rem;

            &:first-child {
              margin-top: 0;
            }

            &-buyer {
              margin-top: 1rem;
              &-detail {
                display: flex;
                border-bottom: 1px solid #f2e9ff;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                img {
                  height: 50px;
                  width: 50px;
                  margin-right: 1rem;
                }
                &-text {
                  display: grid;
                  &-nama {
                    color: $color-primary;
                    font-weight: bold;
                  }
                  &-status {
                    align-self: flex-end;
                    text-align: left;
                    font-size: 12px;
                    color: #d7c8d8;
                    span {
                      border: 1px solid #d7c8d8;
                      padding: 0.15rem 1rem;
                    }
                  }
                }
              }
              &-content {
                background-color: #f2e9ff;
                color: #c086ae;
                padding: 1rem;
                border-radius: 0 2rem 2rem 2rem;
                margin-bottom: 1rem;
                font-size: 12px;
              }
              &-chat {
                padding: 0 1rem;
                color: #d7c8d8;
              }
            }

            &-seller {
              margin-top: 1rem;
              text-align: right;
              &-detail {
                display: flex;
                justify-content: flex-end;
                border-bottom: 1px solid #f2e9ff;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                img {
                  height: 50px;
                  width: 50px;
                  margin-left: 1rem;
                }
                &-text {
                  display: grid;
                  &-nama {
                    color: $color-primary;
                    font-weight: bold;
                  }
                  &-status {
                    align-self: flex-end;
                    text-align: left;
                    font-size: 12px;
                    color: #d7c8d8;
                    span {
                      border: 1px solid #d7c8d8;
                      padding: 0.15rem 1rem;
                    }
                  }
                }
              }
              &-content {
                background-color: #f2e9ff;
                color: #c086ae;
                padding: 1rem;
                border-radius: 0 2rem 2rem 2rem;
                margin-bottom: 1rem;
                font-size: 12px;
              }
              &-chat {
                padding: 0 1rem;
                color: #d7c8d8;
              }
            }

            &-ask {
              margin-top: 1rem;
              &-detail {
                display: flex;
                border-bottom: 1px solid #f2e9ff;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                img {
                  height: 50px;
                  width: 50px;
                  margin-right: 1rem;
                }
                &-text {
                  display: grid;
                  &-nama {
                    color: $color-primary;
                    font-weight: bold;
                  }
                  &-status {
                    align-self: flex-end;
                    text-align: left;
                    font-size: 12px;
                    color: #d7c8d8;
                    span {
                      border: 1px solid #d7c8d8;
                      padding: 0.15rem 1rem;
                    }
                  }
                }
              }
              &-content {
                &-form {
                  color: #c086ae;
                  &:active,
                  &:hover,
                  &:focus {
                    border: 1px solid #d6749c;
                    box-shadow: none !important;
                    outline: 0;
                  }
                  textarea {
                    font-size: 12px;
                  }
                  button {
                    margin-top: 1rem;
                    padding: 1rem 2rem;
                  }
                }
              }
            }
          }
        }
        &-chat {
          order: 1;
          font-size: 12px;
          &-title {
            text-align: center;
            font-size: 18px;
            color: $color-primary;
            font-weight: 700;
          }
          &-detail {
            color: $color-secondary;
            margin-top: 1rem;
          }
          &-form {
            color: $color-secondary;
            margin-top: 1rem;
            input {
              margin-top: 1rem;
              height: 40px;
              font-size: 12px;
            }
            textarea {
              margin-top: 1rem;
              line-height: 1.8;
              font-size: 12px;
            }
            button {
              margin-top: 1rem;
              padding: 1rem 2rem;
            }
          }
        }
      }
    }
  }

  .detail-download {
    margin: 3rem 0;
    .container {
      margin: auto;
      .detail-download-content {
        padding: 2rem 0 0 0;
        border-radius: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 40px -15px rgba(136, 136, 136, 0.5);
        &-title {
          font-size: 18px;
          font-weight: 700;
          color: $color-primary;
          padding: 0 2rem;
        }
        &-table {
          margin-top: 1rem;
          table {
            border-radius: 0 0 1rem 1rem;
            thead {
              color: $color-primary;
              tr {
                th {
                  text-align: center;
                }
              }
            }
            tbody {
              font-size: 12px;
              tr {
                color: black;
                align-items: center;
                td {
                  padding-top: 1.5rem;
                  padding-bottom: 1.5rem;
                  vertical-align: middle;
                  font-size: 12px;
                  input {
                    width: 20px;
                    height: 20px;
                    border-radius: 0.5rem;
                  }
                }
                &:last-child {
                  td {
                    &:first-child {
                      border-radius: 0 0 0 1rem;
                    }
                    &:last-child {
                      border-radius: 0 0 1rem 0;
                    }
                  }
                }
                .download {
                  font-size: 20px;
                }
                &:hover {
                  color: white;
                  background-image: linear-gradient(
                    to right,
                    $color-secondary,
                    $color-tertiary,
                    $color-quartenary
                  );
                }
              }
              tr.active {
                color: white;
                background-image: linear-gradient(
                  to right,
                  $color-secondary,
                  $color-tertiary,
                  $color-quartenary
                );
              }
            }
          }
        }
      }
    }
  }

  .detail-related {
    margin: 3rem 0;
    .container {
      margin: auto;
      .detail-related {
        &-title {
          font-size: 28px;
          font-weight: 700;
          color: $color-primary;
          text-align: center;
        }
        &-content {
          margin-top: 1rem;
          &-list {
            &-item {
              height: 310px;
              border-radius: 1rem;
              position: relative;
              background: white;
              box-shadow: 0px 0px 40px -25px rgba(136, 136, 136, 0.5);
              border: 1px solid rgba(0, 0, 0, 0.1);

              &-image {
                width: 100%;
                padding-top: 1rem;
                padding-bottom: 1rem;
              }

              &-detail {
                padding: 1rem 0.5rem;
                &-title {
                  margin-top: 1rem;
                  color: $color-primary;
                  font-weight: 700;
                  text-align: center;
                }

                &-product {
                  margin-top: 1rem;
                  color: rgba($color: $color-primary, $alpha: 0.8);
                  font-weight: 700;
                  text-align: center;
                  margin-top: 0.25rem;
                  font-size: 12px;
                }

                &-content {
                  margin-top: 1rem;
                  display: flex;
                  align-items: flex-start;
                  align-content: space-between;
                  color: rgba($color: $color-primary, $alpha: 0.8);
                  font-size: 10px;
                  &-price {
                    width: 100%;
                    text-align: left;
                  }

                  &-review {
                    width: 100%;
                    text-align: right;
                  }
                }
              }
            }
          }
          .owl-carousel {
            .owl-nav {
              margin-top: 10px;
              position: absolute;
              top: 150px;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              button {
                display: block !important;
                position: absolute;
                margin: 0 !important;
                // font-size: 36px !important;
                background-image: linear-gradient(
                  to right,
                  $color-secondary,
                  $color-tertiary,
                  $color-quartenary
                ) !important;
                color: white !important;
                font-size: 20px !important;
                line-height: 15px !important;
                outline: none !important;
                box-shadow: none !important;
                border-radius: 50% !important;
                &.owl-prev {
                  padding: 5px 10px !important;
                  left: -15px;
                }
                &.owl-next {
                  padding: 5px 10px !important;
                  right: -15px;
                }
              }
            }
          }
        }
      }
    }
  }
}
