@import "./color";
@import "./font";

@media screen and (min-width: 426px) {
  .header-merk {
    height: 100vh;
    width: 100%;
    background-image: url("../images/background-header/header-halaman-produk-web.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .container {
      height: 100%;
      .header-merk-container {
        margin-top: 20rem;
        text-align: center;
        &-title {
          font-size: 36px;
          font-weight: 700;
          color: white;
        }
        &-text {
          margin-top: 1rem;
          color: white;
        }
        &-slide {
          &-list {
            margin: 3rem 0;
            &-item {
              padding: 1rem;
              &-image {
                width: 100%;
                object-fit: contain;
              }
            }
          }

          .owl-carousel {
            .owl-item {
              box-shadow: 0px 0px 40px -25px rgba(136, 136, 136, 0.5);
              border: 1px solid rgba(136, 136, 136, 0.1);
              transform: scale(0.8, 0.8);
            }
            .owl-item.active.center {
              transform: scale(1, 1);
            }
            .owl-nav {
              margin-top: 10px;
              position: absolute;
              top: 100px;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              button {
                display: block !important;
                position: absolute;
                margin: 0 !important;
                background-image: linear-gradient(
                  to right,
                  $color-secondary,
                  $color-tertiary,
                  $color-quartenary
                ) !important;
                color: white !important;
                font-size: 20px !important;
                line-height: 15px !important;
                outline: none !important;
                box-shadow: none !important;
                border-radius: 50% !important;
                &.owl-prev {
                  padding: 5px 10px !important;
                  left: -15px;
                }
                &.owl-next {
                  padding: 5px 10px !important;
                  right: -15px;
                }
              }
            }
          }
        }
      }
    }
  }

  .merk-option {
    margin: 3rem 0;
    .container {
      .merk-option-container {
        box-shadow: 0px 0px 40px -15px rgba(136, 136, 136, 0.5);
        padding: 3rem;
        &-list {
          display: flex;
          align-items: center;
          padding-top: 2rem;
          padding-bottom: 2rem;
          border-top: 1px solid rgba(136, 136, 136, 0.1);
          &:first-child {
            padding-top: 0;
          }
          button {
            width: 100%;
            margin-right: 3rem;
            padding: 2rem 0;
            &:last-child {
              margin-right: 0;
              border-top: 0;
            }
          }
        }
      }
    }
  }

  .merk-list {
    margin-top: 3rem;
    .container {
      .merk-list-container {
        &-item {
          width: 24%;
          border-radius: 1rem;
          position: relative;
          background: white;
          box-shadow: 0px 0px 40px -25px rgba(136, 136, 136, 0.5);
          margin-top: 1rem;
          display: inline-block;
          &-image {
            width: 100%;
            padding: 1rem 2rem;
          }

          &-detail {
            padding: 1rem;
            &-title {
              margin-top: 1rem;
              color: $color-primary;
              font-weight: 700;
              text-align: center;
            }

            &-product {
              margin-top: 1rem;
              color: rgba($color: $color-primary, $alpha: 0.8);
              font-weight: 700;
              text-align: center;
              margin-top: 0.25rem;
              font-size: 12px;
            }

            &-content {
              margin-top: 1rem;
              display: flex;
              align-items: flex-start;
              align-content: space-between;
              color: rgba($color: $color-primary, $alpha: 0.8);
              font-size: 10px;
              &-price {
                width: 100%;
                text-align: left;
              }

              &-review {
                width: 100%;
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .header-merk {
    height: 100vh;
    background-image: url("../images/background-header/header-halaman-produk-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .container {
      height: 100%;
      .header-merk-container {
        margin-top: 15rem;
        text-align: center;
        &-title {
          font-size: 36px;
          font-weight: 700;
          color: white;
        }
        &-text {
          margin-top: 1rem;
          color: white;
        }
        &-slide {
          &-list {
            margin: 3rem 0;
            &-item {
              padding: 1rem;
              &-image {
                width: 100%;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }

  .merk-option {
    margin: 3rem 0;
    .container {
      .merk-option-container {
        box-shadow: 0px 0px 40px -15px rgba(136, 136, 136, 0.5);
        padding: 1rem;
        &-list {
          padding-top: 2rem;
          padding-bottom: 2rem;
          border-top: 1px solid rgba(136, 136, 136, 0.1);
          &:first-child {
            padding-top: 0;
          }
          button {
            width: 29%;
            margin-right: 1rem;
            margin-top: 1rem;
            padding: 1rem 0;
            font-size: 12px;
          }
        }
      }
    }
  }

  .merk-list {
    margin-top: 3rem;
    .container {
      .merk-list-container {
        &-item {
          width: 49%;
          border-radius: 1rem;
          position: relative;
          background: white;
          box-shadow: 0px 0px 40px -25px rgba(136, 136, 136, 0.5);
          margin-top: 1rem;
          display: inline-block;
          &-image {
            width: 100%;
            padding: 1rem 2rem;
          }

          &-detail {
            padding: 1rem;
            &-title {
              margin-top: 1rem;
              color: $color-primary;
              font-weight: 700;
              text-align: center;
            }

            &-product {
              margin-top: 1rem;
              color: rgba($color: $color-primary, $alpha: 0.8);
              font-weight: 700;
              text-align: center;
              margin-top: 0.25rem;
              font-size: 12px;
            }

            &-content {
              margin-top: 1rem;
              display: flex;
              align-items: flex-start;
              align-content: space-between;
              color: rgba($color: $color-primary, $alpha: 0.8);
              font-size: 10px;
              &-price {
                width: 100%;
                text-align: left;
              }

              &-review {
                width: 100%;
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
}
