@font-face {
  font-family: Montserrat-Black;
  src: url("../fonts/Montserrat-Black.otf");
}

@font-face {
  font-family: Montserrat-BlackItalic;
  src: url("../fonts/Montserrat-BlackItalic.otf");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/Montserrat-Bold.otf");
}

@font-face {
  font-family: Montserrat-BoldItalic;
  src: url("../fonts/Montserrat-BoldItalic.otf");
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url("../fonts/Montserrat-ExtraBold.otf");
}

@font-face {
  font-family: Montserrat-ExtraBoldItalic;
  src: url("../fonts/Montserrat-ExtraBoldItalic.otf");
}

@font-face {
  font-family: Montserrat-ExtraLight;
  src: url("../fonts/Montserrat-ExtraLight.otf");
}

@font-face {
  font-family: Montserrat-ExtraLightItalic;
  src: url("../fonts/Montserrat-ExtraLightItalic.otf");
}

@font-face {
  font-family: Montserrat-Italic;
  src: url("../fonts/Montserrat-Italic.otf");
}

@font-face {
  font-family: Montserrat-Light;
  src: url("../fonts/Montserrat-Light.otf");
}

@font-face {
  font-family: Montserrat-LightItalic;
  src: url("../fonts/Montserrat-LightItalic.otf");
}

@font-face {
  font-family: Montserrat-Medium;
  src: url("../fonts/Montserrat-Medium.otf");
}

@font-face {
  font-family: Montserrat-MediumItalic;
  src: url("../fonts/Montserrat-MediumItalic.otf");
}

@font-face {
  font-family: Montserrat-Reguler;
  src: url("../fonts/Montserrat-Regular.otf");
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../fonts/Montserrat-SemiBold.otf");
}

@font-face {
  font-family: Montserrat-SemiBoldItalic;
  src: url("../fonts/Montserrat-SemiBoldItalic.otf");
}

@font-face {
  font-family: Montserrat-Thin;
  src: url("../fonts/Montserrat-Thin.otf");
}

@font-face {
  font-family: Montserrat-ThinItalic;
  src: url("../fonts/Montserrat-ThinItalic.otf");
}
