@import "./color";
@import "./font";

@media screen and (min-width: 426px) {
  .header-garansi {
    height: 100vh;
    width: 100%;
    background-image: url("../images/background-header/background-header-garansi-website.png");
    background-size: cover;
    background-repeat: no-repeat;
    .container {
      display: grid;
      height: 100%;

      .header-garansi-center {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-content {
          width: 50%;
          margin-right: 5rem;
          color: white;

          &-title {
            font-size: 36px;
            font-weight: 700;
          }

          &-serial {
            background: white;
            padding: 1rem;
            margin-top: 1rem;
            &-input {
              width: 100%;
              background: #f4f7ff;
              color: #dce2f6;
              border: none;
              padding: 1.5rem 0.5rem;
            }

            &-captcha {
              background-color: #f4f7ff;
              padding: 2rem 3rem;
              margin-top: 1rem;
              border-radius: 0.25rem;
              box-shadow: 0px 0px 40px -25px rgba(136, 136, 136, 0.5);
              label {
                color: black;
              }
            }

            &-button {
              display: flex;
              margin: 1rem auto 0;
            }
          }
        }

        &-image {
          width: 50%;
        }
      }
    }
  }

  .datagaransi {
    box-shadow: 0px 0px 40px -25px rgba(136, 136, 136, 0.5);
    border-radius: 4px;
    padding: 1rem 0;

    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 2rem;

      &-title {
        padding: 1rem;
        color: $color-primary;
        font-size: 28px;
        font-weight: 700;
      }
    }

    table {
      padding-top: 1rem;
      margin: 0;
      thead {
        tr {
          th {
            text-align: center;
            color: $color-primary;
            font-weight: bold;
          }
        }
      }
      tbody {
        tr {
          td {
            vertical-align: middle;
            color: $color-primary;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .header-garansi {
    height: 100vh;
    width: 100%;
    background-image: url("../images/background-header/header-halaman-garansi-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;

    .container {
      display: flex;
      height: 100%;

      .header-garansi-center {
        margin: auto;
        display: flex;
        flex-direction: column;

        &-content {
          order: 2;
          color: white;
          margin-top: 4rem;
          font-size: 12px;

          &-title {
            text-align: center;
            font-size: 18px;
            font-weight: 700;
          }

          &-text {
            margin-top: 1rem;
          }

          &-serial {
            background: white;
            padding: 1rem;
            margin-top: 1rem;
            &-input {
              width: 100%;
              background: #f4f7ff;
              color: #dce2f6;
              border: none;
              padding: 1.5rem 0.5rem;
            }

            &-captcha {
              background-color: #f4f7ff;
              padding: 2rem 3rem;
              margin-top: 1rem;
              border-radius: 0.25rem;
              box-shadow: 0px 0px 40px -25px rgba(136, 136, 136, 0.5);
              label {
                color: black;
              }
            }

            &-button {
              display: flex;
              margin: 1rem auto 0;
            }
          }
        }

        &-image {
          order: 1;
          width: 60%;
          align-self: center;
        }
      }
    }
  }

  .datagaransi {
    box-shadow: 0px 0px 40px -25px rgba(136, 136, 136, 0.5);
    border-radius: 4px;
    padding: 1rem 0;

    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;

      &-title {
        padding: 1rem;
        color: $color-primary;
        font-size: 12px;
        font-weight: 700;
      }

      button {
        font-size: 10px;
      }
    }

    table {
      padding-top: 1rem;
      margin: 0;
      thead {
        tr {
          th {
            text-align: center;
            color: $color-primary;
            font-weight: bold;
            font-size: 10px;
            vertical-align: middle;
          }
        }
      }
      tbody {
        tr {
          td {
            vertical-align: middle;
            color: $color-primary;
            font-size: 10px;
            button {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
