@import "./color";
@import "./font";

@media screen and (min-width: 426px) {
  .produkleft {
    position: absolute;
    top: 250px;
    width: 200px;
    padding: 1rem 0;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 0px 40px -25px rgba(136, 136, 136, 0.5);
    background-image: linear-gradient(
      to bottom,
      $color-secondary,
      $color-tertiary
    );
    &-list {
      &-item {
        display: block;
        float: right;
        margin-top: 1rem;
        padding: 2rem 7rem;
        border-radius: 50rem 0 0 50rem;
        color: rgba($color: $color-primary, $alpha: 0.5);
        font-size: 16px;
        text-decoration: none !important;
        &.active {
          color: rgba($color: $color-primary, $alpha: 1);
          background: rgba(255, 255, 255, 0.1);
        }
        &:hover,
        &:focus,
        &:active {
          color: rgba($color: $color-primary, $alpha: 1);
          background: rgba(255, 255, 255, 0.1);
        }
        &:first {
          margin-top: 0;
        }
      }
    }
  }

  .produk {
    padding-top: 150px;
    .container {
      padding-left: 200px;
      .produk-type {
        text-align: center;
        &-list {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border: 1px solid black;
          border-radius: 50rem;
          &-menu {
            padding: 1rem 3rem;
            border-right: 1px solid black;
            color: rgba($color: $color-primary, $alpha: 0.8);
            text-decoration: none !important;
            &:hover,
            &:focus,
            &:active {
              color: $color-primary;
            }
            &:last-child {
              border-right: none;
            }
          }
        }
      }
      .produk-list {
        margin-top: 5rem;
        &-item {
          display: inline-block;
          width: 30%;
          margin-top: 1rem;
          margin-right: 1rem;
          box-shadow: 0px 0px 40px -15px rgba(136, 136, 136, 0.5);
          &-image {
            padding: 3rem;
            width: 100%;
          }
          &-content {
            padding: 1rem;
            &-title {
              color: $color-primary;
              font-weight: 700;
              text-align: center;
            }
            &-name {
              margin-top: 0.5rem;
              color: $color-secondary;
              text-align: center;
            }
            &-info {
              margin-top: 1rem;
              display: flex;
              align-items: center;
              justify-content: space-between;
              &-price {
                &-real {
                  text-decoration: line-through;
                  color: $color-secondary;
                }
                &-disc {
                  color: $color-primary;
                }
              }
              &-qty {
                display: flex;
                align-items: stretch;
                &-input {
                  border-radius: 4px;
                  border: 1px solid rgba(136, 136, 136, 0.5);
                  margin-right: 0.5rem;
                  padding: 0.6rem 1rem;
                  color: $color-primary;
                }
                &-button {
                  &-add {
                    font-size: 10px;
                    border-radius: 4px;
                    border: 1px solid $color-primary;
                    background: $color-primary;
                    padding: 0rem 0.5rem;
                    color: white;
                  }
                  &-min {
                    font-size: 10px;
                    margin-top: 0.5rem;
                    border-radius: 4px;
                    border: 1px solid rgba(136, 136, 136, 0.5);
                    padding: 0rem 0.5rem;
                    color: $color-primary;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .produkleft {
    position: relative;
    top: 70px;
    padding: 1rem 0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 40px -25px rgba(136, 136, 136, 0.5);
    background-image: linear-gradient(
      to bottom,
      $color-secondary,
      $color-tertiary
    );
    &-list {
      display: flex;
      &-item {
        display: block;
        width: 100%;
        color: white !important;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
      }
    }
  }

  .produk {
    padding-top: 100px;
    .container {
      .produk-type {
        text-align: center;
        &-list {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border: 1px solid black;
          border-radius: 50rem;
          &-menu {
            padding: 1rem 2rem;
            border-right: 1px solid black;
            color: rgba($color: $color-primary, $alpha: 0.8);
            text-decoration: none !important;
            font-size: 10px;
            &:hover,
            &:focus,
            &:active {
              color: $color-primary;
            }
            &:last-child {
              border-right: none;
            }
          }
        }
      }
      .produk-list {
        margin-top: 1rem;
        &-item {
          display: inline-block;
          width: 48%;
          margin-top: 1rem;
          margin-right: 1rem;
          box-shadow: 0px 0px 40px -15px rgba(136, 136, 136, 0.5);
          &:nth-child(even) {
            margin-right: 0;
          }
          &-image {
            padding: 3rem;
            width: 100%;
          }
          &-content {
            padding: 1rem;
            &-title {
              color: $color-primary;
              font-weight: 700;
              text-align: center;
            }
            &-name {
              margin-top: 0.5rem;
              color: $color-secondary;
              text-align: center;
            }
            &-info {
              margin-top: 1rem;
              display: flex;
              align-items: center;
              justify-content: space-between;
              &-price {
                &-real {
                  text-decoration: line-through;
                  color: $color-secondary;
                }
                &-disc {
                  color: $color-primary;
                }
              }
              &-qty {
                display: flex;
                align-items: stretch;
                &-input {
                  border-radius: 4px;
                  border: 1px solid rgba(136, 136, 136, 0.5);
                  margin-right: 0.5rem;
                  padding: 0.6rem 1rem;
                  color: $color-primary;
                }
                &-button {
                  &-add {
                    font-size: 10px;
                    border-radius: 4px;
                    border: 1px solid $color-primary;
                    background: $color-primary;
                    padding: 0rem 0.5rem;
                    color: white;
                  }
                  &-min {
                    font-size: 10px;
                    margin-top: 0.5rem;
                    border-radius: 4px;
                    border: 1px solid rgba(136, 136, 136, 0.5);
                    padding: 0rem 0.5rem;
                    color: $color-primary;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
