@import "./color";
@import "./font";
@import "./desktop";
@import "./garansi";
@import "./produk";
@import "./detail_produk";
@import "./detail_merk";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

.m-auto {
  margin: auto;
}

body {
  font-size: 14px;
  font-family: Montserrat-Medium;
}

.btn-primary {
  background: $color-primary !important;
  border: $color-primary !important;
  color: white !important;
  box-shadow: none !important;
  outline: none !important;
}

.btn-gradient {
  background-image: linear-gradient(
    to right,
    $color-secondary,
    $color-quartenary
  ) !important;
  border-color: $color-secondary !important;
  color: white !important;
  box-shadow: none !important;
  outline: none !important;
}

.border-pills {
  border-radius: 25rem;
}

@media screen and (min-width: 426px) {
  .navbar {
    border: 0;
  }
  .navbar-default {
    position: absolute;
    width: 100%;
    background-color: transparent;
    border-color: $color-random;
    .navbar-header {
      float: none;
      border-bottom: 1px solid $color-random;
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navbar-brand {
          img {
            width: 285px;
            height: auto;
          }
        }
        .navbar-form {
          border-left: 1px solid $color-random;
          border-right: 1px solid $color-random;
          flex: 1 1;
          padding: 0 15px;
          .input-group {
            width: 100%;
            display: table;
            outline: none !important;
            box-shadow: none;
            input {
              background-color: rgba($color: $color-random, $alpha: 0.2);
              color: $color-random;
              border-radius: 25rem 0 0 25rem;
              border-right: 0;
              &::-webkit-input-placeholder {
                color: $color-random;
              }
              &:active,
              &:focus {
                color: white;
                &::-webkit-input-placeholder {
                  color: white;
                }
              }
            }
            .input-group-btn {
              width: 1%;
              button {
                background-color: rgba($color: $color-random, $alpha: 0.2);
                color: $color-random;
                border-radius: 0 25rem 25rem 0;
                border-color: $color-random;
                border-left: 0;
              }
            }
          }
        }
        .navbar-information {
          padding: 0 15px;
          display: flex;
          align-items: center;
          &-shoping {
            color: $color-random;
            font-size: 25px;
          }
          &-phone {
            color: $color-random;
            padding-left: 1rem;
            font-size: 18px;
          }
        }
      }
    }
    .navbar-collapse {
      border-bottom: 1px solid $color-random;
      .dropdown {
        position: unset;
        a {
          color: white !important;
          background: transparent !important;
          text-transform: uppercase;
        }
        .dropdown-menu {
          position: absolute;
          left: 0;
          width: 100%;
          a {
            color: rgba($color: $color-primary, $alpha: 0.8) !important;
            text-decoration: none !important;
            line-height: 1.85;
            &:hover,
            &:active,
            &:focus {
              color: $color-primary !important;
            }
          }
          .container {
            .dropdown-menu-container {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              padding: 2rem 0;
              &-all {
                width: 50%;
                border-right: 1px solid $color-primary;
                padding-right: 1rem;
                margin-right: 1rem;
                &-title {
                  font-size: 16px;
                  font-weight: bold;
                  color: white;
                  padding: 0.5rem;
                  background: $color-primary;
                  border-radius: 4px;
                }
                &-list {
                  margin-top: 1rem;
                  li {
                    display: inline-block;
                    width: 47%;
                  }
                }
              }
              &-other {
                width: 25%;
                &-title {
                  font-size: 16px;
                  font-weight: bold;
                  color: $color-primary;
                }
                &-list {
                  margin-top: 1rem;
                }
              }
              &-image {
                width: 25%;
              }
            }
          }
        }
      }
    }
  }
  .navbar-default-2 {
    position: absolute;
    width: 100%;
    background-color: white;
    border-color: $color-random;
    .navbar-header {
      float: none;
      border-bottom: 1px solid $color-random;
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navbar-brand {
          img {
            width: 285px;
            height: auto;
          }
        }
        .navbar-form {
          border-left: 1px solid $color-random;
          border-right: 1px solid $color-random;
          flex: 1 1;
          padding: 0 15px;
          .input-group {
            width: 100%;
            display: table;
            outline: none !important;
            box-shadow: none;
            input {
              background-color: rgba($color: $color-random, $alpha: 0.2);
              color: $color-random;
              border-radius: 25rem 0 0 25rem;
              border-right: 0;
              &::-webkit-input-placeholder {
                color: $color-random;
              }
              &:active,
              &:focus {
                color: white;
                &::-webkit-input-placeholder {
                  color: white;
                }
              }
            }
            .input-group-btn {
              width: 1%;
              button {
                background-color: rgba($color: $color-random, $alpha: 0.2);
                color: $color-random;
                border-radius: 0 25rem 25rem 0;
                border-color: $color-random;
                border-left: 0;
              }
            }
          }
        }
        .navbar-information {
          padding: 0 15px;
          display: flex;
          align-items: center;
          &-shoping {
            color: $color-random;
            font-size: 25px;
          }
          &-phone {
            color: $color-random;
            padding-left: 1rem;
            font-size: 18px;
          }
        }
      }
    }
    .navbar-collapse {
      border-bottom: 1px solid $color-random;
      .dropdown {
        position: unset;
        a {
          color: $color-primary !important;
          background: transparent !important;
          text-transform: uppercase;
        }
        .dropdown-menu {
          position: absolute;
          left: 0;
          width: 100%;
          a {
            color: rgba($color: $color-primary, $alpha: 0.8) !important;
            text-decoration: none !important;
            line-height: 1.85;
            &:hover,
            &:active,
            &:focus {
              color: $color-primary !important;
            }
          }
          .container {
            .dropdown-menu-container {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              padding: 2rem 0;
              &-all {
                width: 50%;
                border-right: 1px solid $color-primary;
                padding-right: 1rem;
                margin-right: 1rem;
                &-title {
                  font-size: 16px;
                  font-weight: bold;
                  color: white;
                  padding: 0.5rem;
                  background: $color-primary;
                  border-radius: 4px;
                }
                &-list {
                  margin-top: 1rem;
                  li {
                    display: inline-block;
                    width: 47%;
                  }
                }
              }
              &-other {
                width: 25%;
                &-title {
                  font-size: 16px;
                  font-weight: bold;
                  color: $color-primary;
                }
                &-list {
                  margin-top: 1rem;
                }
              }
              &-image {
                width: 25%;
              }
            }
          }
        }
      }
    }
  }
  .footer {
    margin: 10rem 0 0 0;
    background-image: url("../images/background-footer/footer-web.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    width: 100%;
    &-stores {
      position: relative;
      width: 100%;
      &-container {
        position: absolute;
        display: grid;
        top: -70px;
        left: 0;
        right: 0;
        &-inline {
          box-shadow: 0px 0px 40px -15px rgba(136, 136, 136, 0.5);
          margin: auto;
          padding: 1rem 2rem;
          border-radius: 4px;
          background: white;
          &-title {
            text-align: center;
          }
          &-content {
            display: flex;
            align-items: center;
            justify-content: center;
            &-item {
              padding: 2rem 5rem;
              border-right: 1px solid #dee2e6;
              &:last-child {
                border: 0;
              }
              img {
                width: 45px;
              }
            }
          }
        }
      }
    }

    &-logo {
      position: relative;
      width: 100%;
      &-container {
        position: absolute;
        display: grid;
        top: -45px;
        right: 45px;
      }
    }

    .container {
      padding-top: 90px;
      .footer-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        &-help {
          width: 50%;
          margin-right: 5rem;
          &-logo {
            width: 300px;
            height: auto;
          }
          &-mail {
            margin-top: 3rem;
            .navbar-form {
              padding: 0;
              .input-group {
                width: 100%;
                display: table;
                outline: none !important;
                box-shadow: none;
                input {
                  background-color: rgba($color: $color-random, $alpha: 0.2);
                  color: $color-random;
                  border-radius: 25rem 0 0 25rem;
                  border-right: 0;
                  &::-webkit-input-placeholder {
                    color: $color-random;
                  }
                  &:active,
                  &:focus {
                    color: white;
                    &::-webkit-input-placeholder {
                      color: white;
                    }
                  }
                }
                .input-group-btn {
                  width: 1%;
                  button {
                    background-color: rgba($color: $color-random, $alpha: 0.2);
                    color: $color-random;
                    border-radius: 0 25rem 25rem 0;
                    border-color: $color-random;
                    border-left: 0;
                  }
                }
              }
            }
          }
          &-address {
            margin-top: 3rem;
            color: $color-primary;
          }
        }
        &-menu {
          width: 50%;
          &-container {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            &-list {
              margin-right: 2rem;

              &:last-child {
                margin-right: 0;
              }

              &-title {
                color: $color-primary;
                font-weight: 700;
              }

              &-item {
                margin-top: 1rem;
                text-align: left;
                &-item {
                  margin-top: 0.5rem;
                  a {
                    color: rgba($color: $color-primary, $alpha: 0.8);

                    &:active,
                    &:hover,
                    &:focus {
                      color: $color-primary;
                    }
                  }
                }
              }
            }
          }
          &-social {
            margin-top: 3rem;
            &-list {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              &-item {
                a {
                  margin-right: 2rem;
                  &:last-child {
                    margin-right: 0;
                  }
                }
              }
            }
          }
        }
      }
      .footer-copyright {
        margin-top: 5rem;
        margin-bottom: 1rem;
        text-align: center;
        color: $color-primary;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .navbar-default {
    position: absolute;
    width: 100%;
    background-color: transparent;
    border-color: transparent;
    .navbar-header {
      border-bottom: 1px solid $color-random;
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navbar-toggle {
          float: none;
          margin: 0;
          border: 0;
          background-color: transparent !important;
          .icon-bar {
            background-color: #ffffff;
          }
        }
        .navbar-brand {
          float: none;
          img {
            width: 100%;
            height: auto;
          }
        }
        .navbar-form {
          border: 0;
          box-shadow: none;
          input {
            display: none;
          }
          .input-group-btn {
            button {
              background-color: rgba($color: $color-random, $alpha: 0.2);
              color: $color-random;
              border-radius: 25rem;
            }
          }
        }
        .navbar-information {
          display: none;
        }
      }
    }
    .navbar-collapse {
      background-color: #ffffff;
      li {
        a {
          padding-right: 0;
          padding-left: 0;
        }
      }
      .dropdown {
        .dropdown-toggle {
          background-color: transparent !important;
          padding-right: 0;
          padding-left: 0;
        }
        .dropdown-menu {
          a {
            color: rgba($color: $color-primary, $alpha: 0.8) !important;
            text-decoration: none !important;
            line-height: 1.85;
            &:hover,
            &:active,
            &:focus {
              color: $color-primary !important;
            }
          }
          .container {
            padding: 0;
            .dropdown-menu-container {
              &-all {
                &-title {
                  font-size: 16px;
                  font-weight: bold;
                  color: white;
                  padding: 0.5rem;
                  background: $color-primary;
                  border-radius: 4px;
                }
                &-list {
                  margin-top: 1rem;
                }
              }
              &-other {
                &-title {
                  font-size: 16px;
                  font-weight: bold;
                  color: $color-primary;
                  margin-top: 1rem;
                }
                &-list {
                  margin-top: 1rem;
                }
              }
              &-image {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .navbar-default-2 {
    position: absolute;
    width: 100%;
    background-color: white;
    border-color: transparent;
    .navbar-header {
      border-bottom: 1px solid $color-random;
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navbar-toggle {
          float: none;
          margin: 0;
          border: 0;
          background-color: transparent !important;
          .icon-bar {
            background-color: black;
          }
        }
        .navbar-brand {
          float: none;
          img {
            width: 100%;
            height: auto;
          }
        }
        .navbar-form {
          border: 0;
          box-shadow: none;
          input {
            display: none;
          }
          .input-group-btn {
            button {
              background-color: rgba($color: $color-random, $alpha: 0.2);
              color: $color-random;
              border-radius: 25rem;
            }
          }
        }
        .navbar-information {
          display: none;
        }
      }
    }
    .navbar-collapse {
      background-color: #ffffff;
      li {
        a {
          padding-right: 0;
          padding-left: 0;
        }
      }
      .dropdown {
        .dropdown-toggle {
          background-color: transparent !important;
          padding-right: 0;
          padding-left: 0;
          color: $color-primary;
        }
        .dropdown-menu {
          a {
            color: rgba($color: $color-primary, $alpha: 0.8) !important;
            text-decoration: none !important;
            line-height: 1.85;
            &:hover,
            &:active,
            &:focus {
              color: $color-primary !important;
            }
          }
          .container {
            padding: 0;
            .dropdown-menu-container {
              &-all {
                &-title {
                  font-size: 16px;
                  font-weight: bold;
                  color: white;
                  padding: 0.5rem;
                  background: $color-primary;
                  border-radius: 4px;
                }
                &-list {
                  margin-top: 1rem;
                }
              }
              &-other {
                &-title {
                  font-size: 16px;
                  font-weight: bold;
                  color: $color-primary;
                  margin-top: 1rem;
                }
                &-list {
                  margin-top: 1rem;
                }
              }
              &-image {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .footer {
    margin: 10rem 0 0 0;
    background-image: url("../images/background-footer/footer-web.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    width: 100%;
    &-stores {
      position: relative;
      width: 100%;
      &-container {
        position: absolute;
        display: grid;
        top: -50px;
        left: 0;
        right: 0;
        &-inline {
          box-shadow: 0px 0px 40px -15px rgba(136, 136, 136, 0.5);
          margin: auto;
          padding: 1rem;
          border-radius: 4px;
          background: white;
          &-title {
            text-align: center;
          }
          &-content {
            display: flex;
            align-items: center;
            justify-content: center;
            &-item {
              padding: 1rem 2rem;
              border-right: 1px solid #dee2e6;
              &:last-child {
                border: 0;
              }
              img {
                width: 20px;
              }
            }
          }
        }
      }
    }

    &-logo {
      position: relative;
      width: 100%;
      &-container {
        position: absolute;
        display: grid;
        top: 45px;
        right: 45px;
        img {
          width: 30px;
        }
      }
    }

    .container {
      padding-top: 90px;
      .footer-content {
        &-help {
          display: flex;
          align-items: center;
          flex-direction: column;
          &-logo {
            width: 200px;
            height: auto;
          }
          &-mail {
            margin-top: 1rem;
            width: 100%;
            order: 3;
            .navbar-form {
              padding: 0;
              .input-group {
                width: 100%;
                display: table;
                outline: none !important;
                box-shadow: none;
                input {
                  background-color: rgba($color: $color-random, $alpha: 0.2);
                  color: $color-random;
                  border-radius: 25rem 0 0 25rem;
                  border-right: 0;
                  &::-webkit-input-placeholder {
                    color: $color-random;
                  }
                  &:active,
                  &:focus {
                    color: white;
                    &::-webkit-input-placeholder {
                      color: white;
                    }
                  }
                }
                .input-group-btn {
                  width: 1%;
                  button {
                    background-color: rgba($color: $color-random, $alpha: 0.2);
                    color: $color-random;
                    border-radius: 0 25rem 25rem 0;
                    border-color: $color-random;
                    border-left: 0;
                  }
                }
              }
            }
          }
          &-address {
            margin-top: 1rem;
            padding: 0 3rem;
            font-size: 12px;
            color: $color-primary;
            order: 2;
            text-align: center;
          }
        }
        &-menu {
          &-container {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            &-list {
              margin-right: 2rem;

              &:last-child {
                margin-right: 0;
              }

              &-title {
                color: $color-primary;
                font-weight: 700;
              }

              &-item {
                margin-top: 1rem;
                text-align: left;
                &-item {
                  margin-top: 0.5rem;
                  a {
                    color: rgba($color: $color-primary, $alpha: 0.8);

                    &:active,
                    &:hover,
                    &:focus {
                      color: $color-primary;
                    }
                  }
                }
              }
            }
          }
          &-social {
            margin-top: 3rem;
            &-list {
              display: flex;
              align-items: center;
              justify-content: center;
              &-item {
                a {
                  margin-right: 1rem;
                  &:last-child {
                    margin-right: 0;
                  }
                }
              }
            }
          }
        }
      }
      .footer-copyright {
        margin-top: 5rem;
        margin-bottom: 1rem;
        text-align: center;
        color: $color-primary;
      }
    }
  }
}
